.u {
  &-p-0 {
    padding: 0;
  }

  &-pt {
    &-10 {
      padding-top: 10px;
    }

    &-20 {
      padding-top: 20px;
    }

    &-30 {
      padding-top: 30px;
    }

    &-50 {
      padding-top: 50px;
    }
  }

  &-pb {
    &-10 {
      padding-bottom: 10px;
    }

    &-20 {
      padding-bottom: 20px;
    }

    &-30 {
      padding-bottom: 30px;
    }

    &-50 {
      padding-bottom: 50px;
    }
  }

  &-pr {
    &-10 {
      padding-right: 10px;
    }
  }

  &-weight {
    &-600 {
      font-weight: 600;
    }
  }

  &-sticky {
    position: sticky;
    top: 0;
  }
}
