.SiteNavigation {
  @include media-breakpoint-down(md) {
    padding: 10px 0;

    &.isActive {
      .SiteNavigation-list {
        display: block;
      }
    }
  }

  &-button {
    display: none;
    background: none;
    border: none;
    margin: 0;
    padding: 0;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &-list {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      display: none;
      padding: 20px 0 0;
    }
  }

  &-link {
    color: #363636;
    display: block;
    padding: 10px;
    text-decoration: none;

    &:focus {
      box-shadow: 0 0 3px #1089F5;
      outline: none;
    }

    &:hover {
      background: rgba(#1089F5,0.1);
    }

    &.isActive {
      background: rgba(#1089F5,0.1);
    }
  }
}
